<a href="https://colab.research.google.com/github/RajkumarGalaxy/StructuredData/blob/master/Recursion_And_Iteration_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ultimate Guide To Recursion And Iteration In Python

In [1]:
flowers = ['lily', 'tulip', 'rose', 'lavender', 'dandelion']

In [2]:
print(flowers[0])
print(flowers[1])
print(flowers[2])
print(flowers[3])
print(flowers[4])

lily
tulip
rose
lavender
dandelion

In [3]:
for flower in flowers:
  print(flower)

lily
tulip
rose
lavender
dandelion

# Factorial of an integer

In [4]:
# using a for loop
n = 10
result = 1
for i in range(1,n+1):
  result *= i

print(result)

3628800

In [5]:
# using a while loop
n = 10
result = 1
i = 1
while i <= n:
  result *= i
  i += 1

print(result)

3628800

In [6]:
# using recursion

def Factorial(n):
  # declare a base case (a limiting criteria)
  if n == 1:
    return 1
  # continue with general case
  else:
    return n * Factorial(n-1)

print(Factorial(10))

3628800

In [7]:
def Factorial(n):
  if n == 1:
    return 1
  else:
    return n * Factorial(n-1)

print(Factorial(10))
print(Factorial(9))
print(Factorial(8))
print(Factorial(7))
print(Factorial(6))
print(Factorial(5))
print(Factorial(4))
print(Factorial(3))
print(Factorial(2))
print(Factorial(1))

3628800
362880
40320
5040
720
120
24
6
2
1

# Reverse a Given String

In [8]:
def Reverse_iter(s):
  rev = ''
  for k in s:
    rev = k + rev
  return rev

Reverse_iter('Welcome!')

'!emocleW'

In [9]:
def Reverse_rec(s):
  if not s:
    return ''
  else:
    return Reverse_rec(s[1:]) + s[0]

Reverse_rec('Welcome!')

'!emocleW'

# Build a Triangle with Numbers

In [35]:
# Iterative form

n = 8
# rise up
for i in range(n):
  print(10**(3*i))
# fall down
for i in range(n, -1, -1):
  print(10**(3*i))

1
1000
1000000
1000000000
1000000000000
1000000000000000
1000000000000000000
1000000000000000000000
1000000000000000000000000
1000000000000000000000
1000000000000000000
1000000000000000
1000000000000
1000000000
1000000
1000
1

In [36]:

# recursive form

def Triangle(n, i=0):
  if n==0:
    print(1)
    return None
  print(10**(3*i))
  if i<n:
    Triangle(n, i+1)
  else:
    Triangle(n-1, i-1)

Triangle(8)

1
1000
1000000
1000000000
1000000000000
1000000000000000
1000000000000000000
1000000000000000000000
1000000000000000000000000
1000000000000000000000
1000000000000000000
1000000000000000
1000000000000
1000000000
1000000
1000
1

# Quicksort

In [49]:
def Quicksort(a, l, r):
  # consider the left most as pivot element
  current = l+1
  # base case (as limiting criteria)
  if r <= current:
    return None
  for i in range(l+1, r):
    # compare pivot element and shift current's postion
    if a[l] >= a[i]:
      a[i], a[current] = a[current], a[i]
      current += 1
  # exchange pivot element and current-but-one element
  a[l], a[current-1] = a[current-1], a[l]
  # perform Quicksort before current element
  Quicksort(a, l, current-1)
  # perform Quicksort after current element
  Quicksort(a, current, r) 
  return None

In [54]:
a = [5,6,4,12,9,2,1,7,6,3]
print('Before sorting...')
print(a)
Quicksort(a, 0, len(a))
print('\nAfter sorting...')
print(a)

Before sorting...
[5, 6, 4, 12, 9, 2, 1, 7, 6, 3]

After sorting...
[1, 2, 3, 4, 5, 6, 6, 7, 9, 12]

### Thank you for your time!